<!-- footer -->
<div class="about2-bg">
  <div class="about2">
    <div class="about2-block footer-logo inline"><img src="/static/images/footer-logo.jpg"></div>
    <div class="about2-block inline">
      <div class="about2-title">联系方式</div>
      <div class="address">斜厍舒适集成  上海总部</div>
      <p>斜厍智能家居（上海）有限公司</p>
      <p>全国统一服务热线：400-821-7980</p>
      <p>网址：http://www.swahouse.com</p>
      <p>地址：上海市延长中路625号3号楼203室</p>
      <p>E-mail : kefu@swahouse.com</p>
    </div>
    <div class="about2-block inline">
      <div class="about2-title">斜厍理念</div>
      <p>用我们的专业，</p>
      <p>为您构建高效的家居管理系统.</p>
      <p>提升家居</p>
      <p>安全性！便利性！舒适性！艺术性！</p>
      <p>并实现环保节能的居住环境...</p>
    </div>
    <div class="qr-code inline">
      <div class="about2-title">官方社交</div>
      <div class="code-main">
        <div class="code inline">
          <img src="/static/images/fwh.jpg">
          <p>官方微信服务号</p>
        </div>
        <div class="code inline">
          <img src="/static/images/dyh.jpg">
          <p>官方微信公众号</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <p><a target="_blank" href="http://act.swahouse.com/admin/">质量巡检管理后台</a></p>
  <p>Copyright ©http://www.swahouse.com/ 斜厍智能家居（上海）有限公司 专注于舒适家居集成系统解决方案</p>
  <p>沪ICP备17028903号-1    技术支持：倬俪文化</p>
</div>
<!-- footer end -->