<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>{$type_name} - 一站式服务 - 斜厍舒适集成</title>
    <link rel="stylesheet" href="/static/m/css/header.css">
    <link rel="stylesheet" href="/static/m/css/about.css">
    <link rel="stylesheet" href="/static/m/css/footer.css">
    <link rel="stylesheet" href="/static/m/css/list.css">
    <script type="text/javascript" src="/static/m/js/jquery-1.7.1.min.js"></script>
</head>
<body>
{include file="public/header"}
<div class="top">
    <img src="/static/m/images/top.png">
</div>
<div class="grey-line"></div>
<div class="content">{$page_content}</div>
{include file="service/list"}
{include file="public/footer"}
</body>
</html>