<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>斜厍舒适集成后台</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="/static/admin_res/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/static/admin_res/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="/static/admin_res/css/style.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-edit"></i> {$page.name} - 单页编辑</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="{:url('admin/page/modify')}" class="form-horizontal">
                            <input type="hidden" name="pageid" value="{$page.id}">
                            <div class="form-group">
                                <script id="editor" type="text/plain" style="width:100%;height:500px;">{$content}</script>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-5">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/admin_res/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/admin_res/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/admin_res/js/content.js?v=1.0.0"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script>
        $(function(){
            var ue = UE.getEditor('editor');
            ue.addListener("ready", function () {
            });
        });
    </script>
</body>
</html>
