<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$nowCategory.name} - 商城 -斜厍舒适集成</title>
    <link rel="stylesheet" href="/static/css/mall-header.css">
    <link rel="stylesheet" href="/static/css/filter.css">
    <link rel="stylesheet" href="/static/css/classify.css">
    <link rel="stylesheet" href="/static/css/brand-intro.css">
    <link rel="stylesheet" href="/static/css/page.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
</head>
<body>
{include file="index@public/header"}
<div class="logo-banner"><img src="{$nowCategory.cover}"></div>
<div class="main">
    <div class="filter">
        <div class="filter-item">
            <div class="title inline">类别：</div>
            <div class="brand inline">
                <ul>
                    {volist name="categoryList" id="category"}
                    <li class="classify1 inline{if condition='$category.id eq $nowCategory.id'} on{/if}"><a href="{:url('mall/index/brand',['t'=>$category.id])}">{$category.name}</a></li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="list-items">
            <div class="brand-intro">
                <div class="intro inline">
                    <div class="brand">{$nowCategory.name}</div>
                    {$nowCategory.introduce}
                </div>
            </div>

            <div class="parameter-block">
                <div class="parameter-title">合作品牌</div>
                <div class="intro">
                    <div class="intro-list">
                        <ul>
                            {volist name="brandList" id="brand"}
                            <li>
                                <a title="{$brand.name}" href="{:url('mall/index/category',['t'=>$nowCategory.id])}?bd={$brand.id}"><img src="{$brand.logo}"></a>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="index@public/footer"}
</body>
</html>