<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$nowCategory.name} - 商城 - 斜厍舒适集成</title>
    <link rel="stylesheet" href="/static/css/mall-header.css">
    <link rel="stylesheet" href="/static/css/filter.css">
    <link rel="stylesheet" href="/static/css/classify.css">
    <link rel="stylesheet" href="/static/css/page.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/js/choice.js"></script>
    <script type="text/javascript" src="/static/js/base64.js"></script>
</head>
<body>
{include file="index@public/header"}
<div class="logo-banner"><img src="{$nowCategory.cover}"></div>
<div class="main">
    <div class="filter">
        {if condition="$keyword neq ''"}
        <div class="filter-item">
            <div class="title inline">关键字：</div>
            <div class="inline">
                <ul>
                    <li style="border-radius:5px;border:1px solid #999;line-height:22px" class="inline">{$keyword} <a id="remove_keyword"><b>X</b></a></li>
                </ul>
            </div>
        </div>
        {/if}
        <div class="filter-item">
            <div class="title inline">类别：</div>
            <div class="brand inline">
                <ul>
                    {volist name="categoryList" id="categorys"}
                    {if condition="$keyword neq ''"}
                    <li class="inline{if condition='$nowCategoryId eq $categorys.id'} on{/if}"><a href="{:url('mall/index/category',['t'=>$categorys['id'],'k'=>$keyword])}">{$categorys.name}</a></li>
                    {else/}
                    <li class="inline{if condition='$nowCategoryId eq $categorys.id'} on{/if}"><a href="{:url('mall/index/category',['t'=>$categorys['id']])}">{$categorys.name}</a></li>
                    {/if}
                    {/volist}
                </ul>
            </div>
        </div>
        {volist name="attributeList" id="attribute"}
        <div class="filter-item">
            <div class="title inline">{$attribute.name}：</div>
            <div class="brand inline">
                <ul class="attribute" data-aid="{$attribute.id}">
                    <li data-vid="0" class="inline options">全部</li>
                    {volist name="attribute.value" id="value"}
                    <li data-vid="{$i}" class="inline options">{$value}</li>
                    {/volist}
                </ul>
            </div>
        </div>
        {/volist}
        <div style="margin-bottom:10px;" class="filter-item">
            <div class="title inline">品牌：</div>
            <div class="brand inline">
                <ul>
                    <li data-bid="0" class="classify3 inline brand_options {if condition='$NowBrand eq 0'}on{/if}">全部</li>
                    {volist name="BrandList" id="brand"}
                    <li data-bid="{$brand.id}" class="classify3 inline brand_options {if condition='$NowBrand eq $brand.id'}on{/if}"><img title="{$brand.name}" src="{$brand.logo}"></li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="list-items">
            {volist name="GoodsList" id="goods"}
            <a href="{:url('mall/index/product',['id'=>$goods['id']])}">
                <div class="items inline">
                    <div style="text-align:center"><img src="{$goods.cover1}"></div>
                    <div class="items-bottom">
                      <span class="name f-l"><nobr>{$goods.title}</nobr></span>
                        {if condition="$goods.customized eq 1"}
                        <div class="f-r">可定制</div>
                        {/if}
                    </div>
                </div>
            </a>
            {/volist}
        </div>
        <div class="listpage">
        <div class="page">
            {if condition="$NowPage neq 1"}<a class="p prevPage">&lt;</a>{/if}
            {for start="1" end="$PageCount+1"}
            <a class="p page_button{if condition='$i eq $NowPage'}  active{/if}">{$i}</a>
            {/for}
            {if condition="$NowPage lt $PageCount"}<a class="p nextPage">&gt;</a>{/if}
        </div>
        </div>
    </div>
</div>
</div>
<form id="controller_form" method="get">
    <input type="hidden" id="attributes" name="attr" value="{$attributes_base64}">
    <input type="hidden" name="kw" id="keyword" value="{$keyword}">
    <input type="hidden" name="pg" id="pg" value="{$NowPage}">
    <input type="hidden" name="bd" id="bd" value="{$NowBrand}">
</form>
<script>
    var bs64 = new Base64();
    var options = {$attributes_json};
    var NowPage = {$NowPage};
    updateOption();
    $(function(){
        $("li.options").on('click',function(){
            options[$(this).parent().data('aid')]=$(this).data('vid');
            attributes_bs = bs64.encode(JSON.stringify(options));
            $("#attributes").val(attributes_bs);
            controller_form.submit();
        });
        $("li.brand_options").on('click',function(){
            $("#bd").val(($(this).data('bid')).toString());
            controller_form.submit();
        });
        $("#remove_keyword").on('click',function(){
            $("#keyword").val("");
            controller_form.submit();
        });
        $(".page_button").on("click",function () {
            $("#pg").val($(this).html());
            controller_form.submit();
        });
        $(".nextPage").on("click",function () {
            $("#pg").val(NowPage + 1);
            controller_form.submit();
        });
        $(".prevPage").on("click",function () {
            $("#pg").val(NowPage - 1);
            controller_form.submit();
        });
        $("#search_button").on("click",function(){
            keyword = $("#search_keyword").val().trim();
            $("#search").val(keyword);
            $("#page").val(1);
            controller_form.submit();
        });
    });
    function updateOption(){

        $("ul.attribute>li[data-vid='0']").addClass("on");
        for(key in options){
            $("ul:[data-aid="+key+"]>li").removeClass("on");
            $("ul:[data-aid="+key+"]>li:eq("+parseInt(options[key])+")").addClass("on");
        }
    }
</script>
{include file="index@public/footer"}
</body>
</html>